root = true

# G-Research style: https://github.com/G-Research/fsharp-formatting-conventions/blob/master/.editorconfig

[*.{fs,fsi,fsx}]
fsharp_space_before_uppercase_invocation=true
fsharp_space_before_member=true
fsharp_space_before_colon=true
fsharp_space_before_semicolon=true
fsharp_multiline_block_brackets_on_same_column=true
fsharp_newline_between_type_definition_and_members=true
fsharp_align_function_signature_to_indentation=true
fsharp_alternative_long_member_definitions=true
fsharp_multi_line_lambda_closing_newline=true
fsharp_experimental_keep_indent_in_branch=true
fsharp_bar_before_discriminated_union_declaration=true
fsharp_keep_max_number_of_blank_lines=1

[docs/.tool/App.fs]
fsharp_experimental_stroustrup_style=true